@tailwind base;
@tailwind components;
@tailwind utilities;

#tabasco-side-bar {
  @apply fixed right-0 top-0 z-[999999999999] h-full w-full;
}

#tabasco-side-bar::before {
  @apply absolute left-0 top-0 h-full w-full bg-gray-900 opacity-50;
  content: '';
}

#tabasco-side-bar.inactive {
  transition: background 0.2s ease 0.1s, width 0s ease 0.3s, height 0s ease 0.5s;
  @apply h-0 w-[0px] bg-opacity-0;
}

#tabasco-side-bar.active {
  @apply h-full bg-opacity-100;
  width: calc(100% + 350px);
}

#folder-selector {
  height: 0px;
  overflow-y: hidden;
  padding: 0 5px;
}

#folder-selector::-webkit-scrollbar {
  width: 3px;
}
#folder-selector::-webkit-scrollbar-track {
  background-color: #ffffff;
}
#folder-selector::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px;
}

#folder-selector.open {
  height: 200px;
  overflow-y: auto;
  padding: 10px 5px;
}

.column-item-scroll::-webkit-scrollbar {
  width: 3px;
}
.column-item-scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.column-item-scroll::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 4px;
}
